<nav>
    <ul>
      <li><a href="/users/<%= @user.slug %>">
      <%= @user.username %></a></li>
       <li><a href="/users/logout">
      Logout</a></li>
    </ul>
  </nav>
  
<h1>Welcome, <%= @user.username %>!</h1>

<h2>Here's a quick snapshot of your progress!</h2>
<p>You've completed <%= @user.runs.count %> run(s).</p>
<p>With a total of <%= @user.runs.inject(0) {|sum, r| sum + r.distance} %> miles!</p>

<p>Your run goal is <%= @user.run_goal %> miles!</p>

<progress value="<%= @user.runs.inject(0) {|sum, r| sum + r.distance} %>" max="<%= @user.run_goal %>"></progress>

<h2>Run History</h2>
<p>Got more miles to track? Add it <a href="/runs/new">here!</a></p>
<% @user.runs.each do |run|%>
  Distance: <%= run.distance %> miles
  Run time: <%= run.time%> minutes
  Shoes: <%= run.shoes%>
  Notes: <%= run.notes%>
  Indoor / Outdoor: <%= run.indoor_outdoor %>
  <div>
  <a href="/runs/edit">Edit</a>&nbsp;<a href="/runs/delete">Delete</a>
  <br><br>
</div>
<% end%>


