<style>
  body {
    background: #FBFBFB;
  }
</style>

<div class="main">
  <h1>Welcome, <span class="yellow-username"><%= @user.username %></span>!</h1>

  <div class="sidebar">

    <h2>Progress Snapshot:</h2>
    <ul>
      <li><p>You've completed <span class="yellow"><%= @user.runs.count %></span> run(s).</p></li>
      <li><p>With a total of <span class="yellow"><%= @user.runs.inject(0) {|sum, r| sum + r.distance} %></span> miles.</p></li>
      <li><p>Your average pace is <span class="yellow"><%= @user.runs.inject(0) {|sum, r| sum + r.time} / @user.runs.inject(0) {|sum, r| sum + r.distance}  %></span> mins/mile.</p></li>
      <li><p>Your run goal is <span class="yellow"><%= @user.run_goal %></span> miles.</p></li>
      <li><p>You have <span class="yellow"><%= @user.run_goal - (@user.runs.inject(0) {|sum, r| sum + r.distance})%></span> miles left to hit your goal!</p></li>
    <ul>
    <div id="progressbar">
     <!--  <div value="<%= @user.runs.inject(0) {|sum, r| sum + r.distance} %>" max="<%= @user.run_goal %>"></div> -->
      <progress max="<%= @user.run_goal %>" value="<%= @user.runs.inject(0) {|sum, r| sum + r.distance} %>"></progress>
    </div>
  </div>

  <div class="content">
    <div class="intro">
      <h4>You're one step closer to hitting your run goal!</h4> 
      <p>With <em>Mile Marker</em>, you can keep track of your runs and quickly view your progress towards your goal.</p>
      <br>
      <p>Got more miles to mark? Add a new run <a href="/runs/new">here</a>, it's that easy!</p>
      <p>Happy running &ndash; We'll see you at the finish line!</p>
    </div>

    <% if flash.has?(:message) %>
        <p class="flash"><%= flash[:message] %></p>
    <% end %>
    <br>
    <h2 class="run-history">Run History</h2>
    
    <% @user.runs.sort.reverse.each do |run|%>
      <br>
      <b>Distance:</b> <%= run.distance %> miles
      <b>Run time:</b> <%= run.time %> minutes
      <b>Shoes:</b> <%= run.shoes %>
      <br>
      <b>Notes:</b> <%= run.notes %> 
      <b>Indoor / Outdoor:</b> <%= run.indoor_outdoor %>
      <div>
      <div class="edit-delete">
        <a href="/runs/<%= run.id %>/edit">Edit</a>&nbsp;<a href="/runs/<%= run.id %>/delete">Delete</a> <!-- message on click, are you sure you want to delete this run? -->
      </div>
      <br>
      <hr>
    <% end%>
  </div>
</div>

