<style>
  body {
    background: #FBFBFB;
  }
</style>

<div class="container">
<h1>Edit Your Run</h1>
<h3 class="form-h3">Update your run details here.</h3>
  <form action="/runs/<%= @run.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label for="distance">Distance (miles):</label>
    <input type="number" name="distance" id="distance" value="<%= @run.distance %>" required>

    <br><br>

    <label for="time">Time (mins):</label>
    <input type="number" name="time" id="time" value="<%= @run.time %>" required>

    <br><br>

    <label for="shoes">Shoes:</label>
    <input type="text" name="shoes" id="shoes" value="<%= @run.shoes %>" required>

    <br><br>

    <label for="notes">Notes:</label><br>
    <textarea rows="5" cols="50" name="notes" id="notes"><%= @run.notes %></textarea>

    <br><br>
    Indoor / Outdoor:
    <br>
    <label><input class="radio" type="radio" name="indoor_outdoor" value="Outdoor" <%= "checked" if @run.indoor_outdoor == "Outdoor" %>>Outdoor</label>&nbsp;&nbsp;
    <label><input class="radio" type="radio" name="indoor_outdoor" value="Indoor" <%= "checked" if @run.indoor_outdoor == "Indoor" %>>Indoor</label>
    <br><br>
    <input type="submit" value="Update" id="Submit">
  </form>
</div>


